<header class="site-header header-style-<%= config.layout.header.style %> header-position-<%= config.layout.header.position %>">
    <div class="header-content">
        <div class="site-title">
            <a href="<%= config.baseUrl %>"><%= config.title %></a>
        </div>
        <nav class="main-nav">
            <% if (config.nav && config.nav.length > 0) { %>
                <ul>
                    <% config.nav.forEach(function(item) { %>
                        <li><a href="<%= config.baseUrl %><%= item.path.replace(/^\//, '') %>"><%= item.title %></a></li>
                    <% }); %>
                </ul>
            <% } %>
        </nav>
    </div>
</header>
