<!DOCTYPE html>
<html lang="<%= config.language || 'en-US' %>">
<head>
    <%- include('../components/header') %>
    <title><%= page.frontMatter.title || config.title %></title>
</head>
<body class="theme-terminal">

    <div class="terminal-window">
        <div class="terminal-header">
            <div class="terminal-buttons">
                <span class="terminal-button close"></span>
                <span class="terminal-button minimize"></span>
                <span class="terminal-button maximize"></span>
            </div>
            <div class="terminal-title"><%= config.title %></div>
        </div>
        <div class="terminal-body">
            <div class="terminal-line">
                <span class="terminal-prompt">user@retromark:~$</span> cat <%= page.path.replace(/\//g, '') || 'index' %>.md
            </div>
            <article class="prose">
                <%- content %>
            </article>
            <div class="terminal-line">
                <span class="terminal-prompt">user@retromark:~$</span>
            </div>
             <div class="terminal-line logout-message">
                logout
            </div>
        </div>
    </div>

    <%- include('../components/math-support', { config: config }) %>

</body>
</html>
